In [1]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
from matplotlib.ticker import NullFormatter

In [6]:
import pandas as pd

In [7]:
import numpy as np

In [8]:
import matplotlib.ticker as ticker

In [14]:
from sklearn import preprocessing
%matplotlib inline

In [15]:
df = pd.read_csv('loan_train.csv')

In [16]:
df.head()

,Unnamed: 0.1,Unnamed: 0,loan_status,Principal,terms,effective_date,due_date,age,education,Gender
0,0,0,PAIDOFF,1000,30,9/8/2016,10/7/2016,45,High School or Below,male
1,2,2,PAIDOFF,1000,30,9/8/2016,10/7/2016,33,Bechalor,female
2,3,3,PAIDOFF,1000,15,9/8/2016,9/22/2016,27,college,male
3,4,4,PAIDOFF,1000,30,9/9/2016,10/8/2016,28,college,female
4,6,6,PAIDOFF,1000,30,9/9/2016,10/8/2016,29,college,male

In [18]:
df.shape

(346, 10)

In [ ]:
#Convert to date time object

In [19]:
df['due_date'] = pd.to_datetime(df['due_date'])

In [20]:
df['effective_date'] = pd.to_datetime(df['effective_date'])

In [21]:
df.head()

,Unnamed: 0.1,Unnamed: 0,loan_status,Principal,terms,effective_date,due_date,age,education,Gender
0,0,0,PAIDOFF,1000,30,2016-09-08,2016-10-07,45,High School or Below,male
1,2,2,PAIDOFF,1000,30,2016-09-08,2016-10-07,33,Bechalor,female
2,3,3,PAIDOFF,1000,15,2016-09-08,2016-09-22,27,college,male
3,4,4,PAIDOFF,1000,30,2016-09-09,2016-10-08,28,college,female
4,6,6,PAIDOFF,1000,30,2016-09-09,2016-10-08,29,college,male

In [22]:
df['loan_status'].value_counts()

loan_status
PAIDOFF       260
COLLECTION     86
Name: count, dtype: int64

In [23]:
#Lets look at the day of the week people get the loan

In [24]:
df['dayofweek'] = df['effective_date'].dt.dayofweek

In [25]:
df['weekend'] = df['dayofweek'].apply(lambda x: 1 if (x>3) else 0)

In [26]:
df.head()

,Unnamed: 0.1,Unnamed: 0,loan_status,Principal,terms,effective_date,due_date,age,education,Gender,dayofweek,weekend
0,0,0,PAIDOFF,1000,30,2016-09-08,2016-10-07,45,High School or Below,male,3,0
1,2,2,PAIDOFF,1000,30,2016-09-08,2016-10-07,33,Bechalor,female,3,0
2,3,3,PAIDOFF,1000,15,2016-09-08,2016-09-22,27,college,male,3,0
3,4,4,PAIDOFF,1000,30,2016-09-09,2016-10-08,28,college,female,4,1
4,6,6,PAIDOFF,1000,30,2016-09-09,2016-10-08,29,college,male,4,1

In [27]:
#Convert Categorical features to numerical values

In [28]:
df.groupby(['Gender'])['loan_status'].value_counts(normalize=True)

Gender  loan_status
female  PAIDOFF        0.865385
        COLLECTION     0.134615
male    PAIDOFF        0.731293
        COLLECTION     0.268707
Name: proportion, dtype: float64

In [29]:
#Lets convert male to 0 and female to 1:

In [32]:
df['Gender'].replace(to_replace=['male','female'], value=[0,1],inplace=True)

In [33]:
df.head()

,Unnamed: 0.1,Unnamed: 0,loan_status,Principal,terms,effective_date,due_date,age,education,Gender,dayofweek,weekend
0,0,0,PAIDOFF,1000,30,2016-09-08,2016-10-07,45,High School or Below,0,3,0
1,2,2,PAIDOFF,1000,30,2016-09-08,2016-10-07,33,Bechalor,1,3,0
2,3,3,PAIDOFF,1000,15,2016-09-08,2016-09-22,27,college,0,3,0
3,4,4,PAIDOFF,1000,30,2016-09-09,2016-10-08,28,college,1,4,1
4,6,6,PAIDOFF,1000,30,2016-09-09,2016-10-08,29,college,0,4,1

In [34]:
df.groupby(['education'])['loan_status'].value_counts(normalize=True)

education             loan_status
Bechalor              PAIDOFF        0.750000
                      COLLECTION     0.250000
High School or Below  PAIDOFF        0.741722
                      COLLECTION     0.258278
Master or Above       COLLECTION     0.500000
                      PAIDOFF        0.500000
college               PAIDOFF        0.765101
                      COLLECTION     0.234899
Name: proportion, dtype: float64

In [35]:
df[['Principal','terms','age','Gender','education']].head()

   Principal  terms  age  Gender             education
0       1000     30   45       0  High School or Below
1       1000     30   33       1              Bechalor
2       1000     15   27       0               college
3       1000     30   28       1               college
4       1000     30   29       0               college

In [36]:
Feature = df[['Principal','terms','age','Gender','weekend']]

In [37]:
Feature = pd.concat([Feature,pd.get_dummies(df['education'])], axis=1)

In [38]:
Feature.drop(['Master or Above'], axis = 1,inplace=True)

In [39]:
Feature.head()

,Principal,terms,age,Gender,weekend,Bechalor,High School or Below,college
0,1000,30,45,0,0,False,True,False
1,1000,30,33,1,0,True,False,False
2,1000,15,27,0,0,False,False,True
3,1000,30,28,1,1,False,False,True
4,1000,30,29,0,1,False,False,True

In [40]:
X = Feature
X[0:5]

,Principal,terms,age,Gender,weekend,Bechalor,High School or Below,college
0,1000,30,45,0,0,False,True,False
1,1000,30,33,1,0,True,False,False
2,1000,15,27,0,0,False,False,True
3,1000,30,28,1,1,False,False,True
4,1000,30,29,0,1,False,False,True

In [41]:
y = df['loan_status'].values
y[0:5]

array(['PAIDOFF', 'PAIDOFF', 'PAIDOFF', 'PAIDOFF', 'PAIDOFF'],
      dtype=object)

In [42]:
X= preprocessing.StandardScaler().fit(X).transform(X)
X[0:5]

array([[ 0.51578458,  0.92071769,  2.33152555, -0.42056004, -1.20577805,
        -0.38170062,  1.13639374, -0.86968108],
       [ 0.51578458,  0.92071769,  0.34170148,  2.37778177, -1.20577805,
         2.61985426, -0.87997669, -0.86968108],
       [ 0.51578458, -0.95911111, -0.65321055, -0.42056004, -1.20577805,
        -0.38170062, -0.87997669,  1.14984679],
       [ 0.51578458,  0.92071769, -0.48739188,  2.37778177,  0.82934003,
        -0.38170062, -0.87997669,  1.14984679],
       [ 0.51578458,  0.92071769, -0.3215732 , -0.42056004,  0.82934003,
        -0.38170062, -0.87997669,  1.14984679]])

In [ ]:
#K Nearest Neighbor(KNN)

In [43]:
#Train-Test Split

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [46]:
from sklearn.neighbors import KNeighborsClassifier
# Define the value of n
n = 5
neigh = KNeighborsClassifier(n_neighbors=n).fit(X_train, y_train)
yhat = neigh.predict(X_test)
from sklearn import metrics
acc=metrics.accuracy_score(y_test, yhat)
print(acc)

0.7285714285714285

In [47]:
# This is the Accuracy by using knn method = 0.72

In [48]:
#Now Apply other algorithm and compare accuracy for eg. see below

In [49]:
#Decision Tree

In [50]:
from sklearn.tree import DecisionTreeClassifier

In [51]:
modeltree = DecisionTreeClassifier()

In [52]:
modeltree.fit(X_train, y_train)

DecisionTreeClassifier()

In [54]:
predTree = modeltree.predict(X_test)

In [55]:
#Support Vector Machine

In [56]:
from sklearn import preprocessing

In [57]:
from sklearn import svm

In [58]:
#Modelling
clf = svm.SVC()
clf.fit(X_train, y_train)
#Predict
yhat = clf.predict(X_test)

In [59]:
#Evaluation
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,yhat))

0.7285714285714285

In [61]:
#This is the Accuracy by using svm method = 0.72

In [62]:
# Accuracy 0.72 is same by using knn and svm method.